{% extends 'layout.html.twig' %}
{% block intro %}

    <div class="container-fluid px-0">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner bg-info" role="listbox">
                <div class="carousel-item active">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <h1 class="display-1">Carrelage</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <h1 class="display-1">Parquet</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <h1 class="display-1">Dalles</h1>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

{% endblock %}
{% block content %}

    <h1>L'actualité</h1>

        {% for article in articles %}
            <div class="article">

                <h2>{{ article.title }}</h2>
                {{ article.date ? article.date|date('d-m-Y') : '' }}
                {{ article.contents }}

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('article_show', {'id': article.id}) }}">Voir l'article</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">Editer l'article</a>
                {% endif %}
            </div>
        {% else %}
                Pas d'article
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('article_new') }}">Create new</a>
    {% endif %}

{% endblock %}
